.customLabel {
    width: 180px;
  }
  
  .customInput {
    width: 240px;
  }
  
  
  .form-group {
      margin-bottom: 0.2rem;
  }
  .jumbotron {
      height:100%;
      margin-bottom: 0;	
  }
  .bannerLateral{
      width:160px;
      height:600px;
  }
  .bannerHorizontal{
      max-width:728px;
      max-height:90px;
      margin-bottom:3px;
      margin-top:3px;
  }
  
  .midleSection{
      margin-top:20px;
  }
  
  .footer{
      margin-top:10px;
  }
  
  .ethlogo{
      height:30px;
  }<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>